= simple_form_for(@object) do |f|
  = f.error_notification
  = f.input :title
  = f.input :content
  = f.input :creator_id
  = f.input :approval_id
  = f.input :release_time
  = f.input :expiration_time
  = f.input :status
  .form-actions
    = f.submit
