= link_to 'New Employee', new_employee_path
= will_paginate @collection
%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th 登录名 
      %th 显示名
      %th Email
      %th 电话
      %th Roles
      %th
  %tbody
    - @collection.each do |e|
      %tr
        %td= e.login_name
        %td= e.show_name
        %td= e.email
        %td= e.phone
        %td= e.roles.map{|r| r.role_name}.join(',')
        %td
          = link_to 'Show', e
          = link_to 'Edit', edit_employee_path(e)
          = link_to 'Destroy', e, method: :delete, data: { confirm: 'Are you sure?' }
= will_paginate @collection

