= simple_form_for @object do |f|
  = f.input :jkbh
  = f.input :jybh
  = f.input :dz
  = f.input :jkyt
  = f.input :jkytsm
  = f.input :xydj
  = f.input :nhll
  = f.input :jkje
  = f.input :hkqx
  = f.input :hkfs
  = f.input :mqhkje
  = f.input :ktje
  = f.input :jssj
  = f.input :bz
  = f.submit
