= link_to '新增月月盈', new_invest_path
= will_paginate @collection
%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th 借款编号 
      %th 交易编号
      %th 地址
      %th 借款用途
      %th 信用等级
      %th 借款金额
      %th 年化利率
      %th 还款方式
      %th 每期还款金额
      %th 可投金额
      %th 结束时间
      %th
  %tbody
    - @collection.each do |i|
      %tr
        %td= i.loan_number
        %td= i.transaction_number
        %td= i.address
        %td= i.usage
        %td= i.credit_level
        %td= i.amount
        %td= i.annual_rate
        %td= i.repayment_period
        %td= i.each_repayment_amount
        %td= i.free_invest_amount
        %td= i.invest_end_date
        %td
          = link_to '查看', i
          = link_to '修改', edit_invest_path(i)
          = link_to '删除', i, method: :delete, data: { confirm: '你确定要删除吗？' }
= will_paginate @collection
