%h4
  用户信息详情
= link_to '返回用户列表', users_path
|
= link_to '修改', edit_user_path(:id => @object.id)
- uinfo = @object.user_info
- verify = uinfo.verification
%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th 条目
      %th 内容
  %tbody
    %tr
      %td
        = "用户编号"
      %td
        = @object.id
    %tr
      %td
        = "用户登录名"
      %td
        = @object.username
    %tr
      %td
        = "真实姓名"
      %td
        = verify.realname
    %tr
      %td
        = "注册邮箱"
      %td
        = @object.email
    %tr
      %td
        = "注册手机"
      %td
        = @object.mobile

    %tr
      %td
        = "身份证号"
      %td
        = verify.personalid
    %tr
      %td
        = "账户余额"
      %td
        = uinfo.account.balance

    %tr
      %td
        = "投资数目(点击查看)"
      %td
        = link_to uinfo.invests.size, userlist_invests_path(:uinfo_id => uinfo.id)
    %tr
      %td
        = "注册时间"
      %td
        = @object.created_at.strftime("%Y.%m.%d %H:%M")
    %tr
      %td
        = "登录次数"
      %td
        = @object.sign_in_count

    %tr
      %td
        = "本次登录时间"
      %td
        = @object.current_sign_in_at.strftime("%Y.%m.%d %H:%M")

    %tr
      %td
        = "上次登录时间"
      %td
        = @object.last_sign_in_at.strftime("%Y.%m.%d %H:%M")
    %tr
      %td
        = "最近登录ip"
      %td
        = @object.last_sign_in_ip

