.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Wooul Admin
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "/"} Home
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
            数据录入
            %span.caret
          %ul.dropdown-menu
            %li= link_to '月月盈', index_products_path("month")
            %li= link_to '定期宝', index_products_path("fixed")
            %li= link_to '操作记录', account_operations_path
            %li= link_to '对账记录', account_records_path
        %li= link_to '资金统计', notices_path
        %li= link_to '通告', notices_path
        %li= link_to '员工', employees_path
        %li= link_to '个人信息', user_infos_path

        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
            发放结算
            %span.caret
          %ul.dropdown-menu
            %li= link_to '月月盈', settle_products_path("month")
            %li= link_to '定期宝', settle_products_path("fixed")
        %li= link_to 'Roles', roles_path
        - if current_employee && current_employee.roles && current_employee.roles.index('admin')
          %li= link_to 'Employees', employees_path
      = render 'shared/login_indicator'

