= simple_form_for(:product, :url => create_products_path(@product.product_type)) do |f|
  = f.error_notification
  - @repay_method ={"只付利息" => "profit",
  "本息均付" => "profit_principal"}
  - @resell_method={"不可转让" => "no",
                     "允许转让" => "yes"}
  .inputs
    = f.hidden_field :product_type, :value => product_type
    = f.input :deposit_number, label:"产品编号"
    = f.input :total_amount,label:"借款总额"
    = f.input :annual_rate, label:"年化利率"
    = f.input :min_limit, label:"最小额度"
    = f.input :max_limit, label:"最大额度"
    = f.input :repayment_period, label:"偿还周期"
    = f.input :repayment_method, collection: @repay_method, label: "偿还方式"
    = f.input :each_repayment_period, label:"付息间隔"
    = f.input :guarantee, label:"担保机构"
    = f.input :free_invest_amount, label:"可售金额"
    = f.input :join_date, as: :datepicker, label:"开始时间"
    = f.input :expiring_date, as: :datepicker, label:"结束时间"
    = f.input :premature_redemption, collection: @resell_method, label: "可否转让"
    = f.input :fee, label:"转让费率"

  .actions
    = f.submit '保存', class: 'btn btn-primary'

-#:label_method => :location_name,:value_method => :id,:label => "Location" ,:include_blank => false