- dict = {"fixed" => "定存宝",
  "month" => "月月盈"}
%h4
  =dict[@product_type]
= will_paginate @collection
%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th 编号
      %th 总额
      %th 年化率
      %th 收益期(月)
      -#%th 已预约金额
      %th 加入日
      %th 投资金额
      %th 到期日
      %th 买家数
      %th 利期数
      %th 本期数
      %th 应付息
      %th 应付本
      %th 状态
      -#%th 本息返还
      %th 操作 支付本息
      %th 显示

  %tbody
    - @collection.each do |deposit|
      %tr
        %td= deposit.deposit_number
        %td= deposit.total_amount
        %td= deposit.annual_rate
        %td= deposit.repayment_period
        -#%td= deposit.order_amount
        %td= deposit.join_date
        %td= deposit.fixed_invest_amount
        -#%td= deposit.remain_principal
        %td= deposit.expiring_date
        %td= deposit.owner_num
        %td= deposit.current_profit_period
        %td= deposit.current_principal_period
        %td= number_with_precision deposit.current_profit, precision: 2
        %td= number_with_precision deposit.current_principal, precision: 2
        %td= deposit.current_stage
        -#%td
        -#  = deposit.profit_status
        -#  = deposit.principle_status
        %td
          = link_to deposit.current_operation, deposit.current_action
          = link_to deposit.pay_operation, deposit.pay_action
          -#= link_to deposit.principal_operation, deposit.principal_action
        %td= link_to deposit.display_status, deposit.display_action



