- dict = {"fixed" => "定存宝",
  "month" => "月月盈"}
%h4
  =dict[@product_type]
= will_paginate @collection
%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th 编号
      %th 总额
      %th 年收益率
      %th 收益期限(月)
      -#%th 已预约金额
      %th 加入日
      %th 已入账金额
      %th 到期日
      %th 买家数量
      %th 应付利息
      %th 应付本金
      %th 状态
      -#%th 本息返还
      %th 操作
      %th 显示

  %tbody
    - @collection.each do |deposit|
      %tr
        %td= deposit.deposit_number
        %td= deposit.total_amount
        %td= deposit.annual_rate
        %td= deposit.repayment_period
        -#%td= deposit.order_amount
        %td= deposit.join_date
        %td= deposit.fixed_invest_amount
        %td= deposit.expiring_date
        %td= deposit.owner_num
        %td= number_with_precision deposit.current_profit, precision: 2
        %td= number_with_precision deposit.current_principal, precision: 2
        %td= deposit.current_stage
        -#%td
        -#  = deposit.profit_status
        -#  = deposit.principle_status
        %td
          = link_to deposit.current_operation, deposit.current_action
          = link_to deposit.profit_operation, deposit.profit_action
          = link_to deposit.principal_operation, deposit.principal_action
        %td= link_to deposit.display_status, deposit.display_action



