= link_to '返回列表', index_products_path(@product.product_type)
|
= link_to '修改', edit_products_path(@product.product_type, @product.id)
- dict = {"profit" => "只付利息",
           "profit_principal" => "本息均付"}
%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th 条目
      %th 内容
  %tbody
    %tr
      %td
        = "产品编号"
      %td
        = @product.deposit_number
    %tr
      %td
        = "借款总额"
      %td
        = @product.total_amount
    %tr
      %td
        = "年化利率"
      %td
        = @product.annual_rate
    %tr
      %td
        = "最小额度"
      %td
        = @product.min_limit
    %tr
      %td
        = "最大额度"
      %td
        = @product.max_limit
    %tr
      %td
        = "偿还周期"
      %td
        = @product.repayment_period
    %tr
      %td
        = "偿还方法"
      %td
        = dict[@product.repayment_method]
    %tr
      %td
        = "担保机构"
      %td
        = @product.guarantee
    %tr
      %td
        = "可售金额"
      %td
        = @product.free_invest_amount
    %tr
      %td
        = "开始时间"
      %td
        = @product.join_date
    %tr
      %td
        = "结束时间"
      %td
        = @product.expiring_date
    %tr
      %td
        = "可否转让"
      %td
        = @product.premature_redemption
    %tr
      %td
        = "转让费率"
      %td
        = @product.fee



